## DataFrame Slicing methods

In [55]:
import pandas as pd
train = pd.DataFrame(dict(comment =['explanation\nWhy','user name of courseera','python is a powerful language','data science'], id = ['102f3tu4','1o4h2jh3','6788862', '86gswr5'], toxicity = [0,0,0,1]))
train

                         comment        id  toxicity
0               explanation\nWhy  102f3tu4         0
1         user name of courseera  1o4h2jh3         0
2  python is a powerful language   6788862         0
3                   data science   86gswr5         1

In [56]:
def comment(c):
    train= c.loc[0]    #gives first observation i.e here we said to give the location of 0th row and equate it to test which is name of our dataframe
    print(train)

In [57]:
tt= comment(train) #

comment     explanation\nWhy
id                  102f3tu4
toxicity                   0
Name: 0, dtype: object

In [58]:
# change the column value of  any row and assign different value 
train.loc[1,['comment','id']] = -1,-2   
train

                         comment        id  toxicity
0               explanation\nWhy  102f3tu4         0
1                             -1        -2         0
2  python is a powerful language   6788862         0
3                   data science   86gswr5         1

In [61]:
train.iloc[:3] # slice the first three rows

                         comment        id  toxicity
0               explanation\nWhy  102f3tu4         0
1                             -1        -2         0
2  python is a powerful language   6788862         0

In [63]:
train.loc[:3] # slice up to and including label 3

                         comment        id  toxicity
0               explanation\nWhy  102f3tu4         0
1                             -1        -2         0
2  python is a powerful language   6788862         0
3                   data science   86gswr5         1

In [67]:
train.ix[:3] # the integer is in the index so train.ix[:3] works like loc

                         comment        id  toxicity
0               explanation\nWhy  102f3tu4         0
1                             -1        -2         0
2  python is a powerful language   6788862         0
3                   data science   86gswr5         1

*Notice train.ix[:3] returns the same Series as train.loc[:3] 
since it looks for the label first rather than working on the position(and the index for train is of integer type).