### Segment 1 - Filtering and selecting data

In [2]:
# Import libraries
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

### Selecting and retrieving data

In [11]:
series_obj = Series(np.arange(0,16,2), index =[' row 1','row 2','row 3','row 4','  row 5', 'row 6', 'row 7', 'row 8'])
series_obj[:]

 row 1      0
row 2       2
row 3       4
row 4       6
  row 5     8
row 6      10
row 7      12
row 8      14
dtype: int32

In [13]:
# ['label-index']

# When we write square brackets with a label-index inside them, this tells Python to select and 
# retrieve all records with that label-index.
series_obj[4]
print(series_obj[4])

series_obj['row 3']    # label index

8

4

In [19]:
# [integer index] 

# When we write square brackets with an integer index inside them, this tells Python to select and 
# retrieve all records with the specified integer index.
print(series_obj[[0,7,2]]) # indexing starts from 0 so here when we add 0, 7,2 inside bracets it means it will give output as row1, row8,row3
#sort_values
series_obj[[0,7,2]].sort_values()

 row 1     0
row 8     14
row 3      4
dtype: int32

 row 1     0
row 3      4
row 8     14
dtype: int32

In [45]:
np.random.rand(26)  # takes random numbers every time you run it it changes its assigned values
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)), 
                   index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', ' 6'],
                   columns=['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'col 6'])
DF_obj

       column 1  column 2  column 3  column 4  column 5     col 6
row 1  0.539494  0.733247  0.518795  0.897282  0.380691  0.937046
row 2  0.429260  0.059504  0.015275  0.394966  0.474006  0.979909
row 3  0.537789  0.378353  0.641881  0.457276  0.580117  0.758417
row 4  0.743121  0.985774  0.543961  0.052173  0.465956  0.347634
row 5  0.783637  0.614030  0.630908  0.978802  0.139448  0.871448
 6     0.746265  0.552328  0.732253  0.978604  0.518991  0.850650

In [72]:
#Seed must be between 0 and 2**32 - 1 or it may be None 
#but if it is None the it changes its  printed column and rows value every time we run it
#every seed(value ) has some respective column and rows number printed
#np.random.seed(None)
np.random.seed(26)  # takes similar numbers every time you run it
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', ' 6'],
                   columns=['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'col 6'])
DF_obj
# when we use reshape then Shape of passed values (36 means 6 rows and 6 column values)   should be equal to total number of indices as to indices imply ie. total index = 6 and total columns =6  implies rehspe(6, 6)

       column 1  column 2  column 3  column 4  column 5     col 6
row 1  0.307935  0.519391  0.768298  0.789221  0.870562  0.187921
row 2  0.269505  0.496192  0.739122  0.194952  0.179745  0.538826
row 3  0.282766  0.760940  0.269693  0.293520  0.962406  0.913214
row 4  0.568175  0.485492  0.653704  0.536629  0.995739  0.141982
row 5  0.975342  0.619557  0.720486  0.295064  0.600132  0.750635
 6     0.641366  0.923299  0.888730  0.644671  0.295642  0.682594

In [77]:
# object_name.ix[[row indexes], [column indexes]]

# When we call the .ix[] special indexer, and pass in a set of row and colum indexes, this tells 
# Python to select and retrieve only those specific rows and columns.
print(DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']])  # loc means locate

DF_obj.ix[['row 6' ,'row 3'], ['column 3', 'column 5']]  #.ix means index

       column 5  column 2
row 2  0.179745  0.496192
row 5  0.600132  0.619557

       column 3  column 5
row 6       NaN       NaN
row 3  0.269693  0.962406

### Data slicing

In [79]:
# ['starting label-index':'ending label-index'] 

# Data slicing allows us to select and retrieve all records from the starting label-index, to the 
# ending label-index, and every record in between.
series_obj['row 3':'row 7']

row 3       4
row 4       6
  row 5     8
row 6      10
row 7      12
dtype: int32

### Filtering with scalars

In [81]:
# object_name[object_name > scalar value] 
# You can also use comparison operators and scalar values for indexing, to return only the records 
# that satisfy the comparison expression you write.
series_obj[series_obj > 5]

row 4       6
  row 5     8
row 6      10
row 7      12
row 8      14
dtype: int32

### Setting values with scalars

In [84]:
# ['label-index', 'label-index', 'label-index'] = scalar value
# Setting is where you select all records associated with the specified label-indexes and set those 
# values equal to a scalar.
series_obj[' row 1', '  row 5', 'row 8'] = 8  # in row 1 we have given space infront of it  and in row 5 we have given 3 spaces in front of it

In [86]:
series_obj[:]

 row 1      8
row 2       2
row 3       4
row 4       6
  row 5     8
row 6      10
row 7      12
row 8       8
dtype: int32